@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);

*{
    overflow-x: hidden;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   }
  
   html,  
   body {
    display: flex;
    flex-direction: column;
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
   }
 
   /*NavBar*/
   .logo{
    height: 30px;
   }
   .navbar{
    padding: 1.8rem;
    background-color: #f5f6f7;
    font-size: 1.4rem;
   }
   .navbar-collapse{
    align-items: center;
    justify-content: space-between;
    flex-grow: unset;
   }
   .navbar-bar li{
    padding:14px 16px;
   }

   /*Section*/
   section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }

   /*H1*/
   h1{
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
   }

   /*Carrousel*/
   .carousel-item h5{
    font-size: 2.4rem;
   }
   .carousel-item p{
    font-size: 1.6rem;
   }
   .carousel-item p , .carousel-item h5{
    color: #f5f6f7;
   }    
   .carousel-inner img{
    max-height: 600px;
   }

   /*Seccion Hero*/
   .encabeza{
    padding-top: 15px;
    font-family: 'Roboto', sans-serif;
   }
   .staff{
    /* background-color: #f5f6f7; */
    min-height: 450px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   }
   .hero-principal{
    padding: 3rem;
   }
   .hero-perfil{
    width: 200px;
    height: 200px;
    margin: 20px;
    border: 6px solid black;
   }
   .hero-perfil:hover{
    width: 260px;
    height: 260px;
    border: 6px solid #f5f6f7;
   }
   .hero-principal:hover{
    background-color: #404040;
    color: #f5f6f7;
   }
   .hero-principal h2{
    font-size: 1.5rem;
    -webkit-column-break-before: #615151;
   }

   /*Taller*/
   .taller iframe{
    width: 450px;
    height: 300px;
   }
   .foto{
    width: 450px;
    height: 300px;
   }
   .cursos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
   }

   /*Piecito*/
   .piecito{
    font-size: 1.2rem;
   }
   
   /*Medias*/
   @media screen and (max-width:300px){
    .navbar-brand {
        display: none;
    }
   }
   @media screen and (min-width:700px){
    .carousel-inner img{
        min-height: 400px;
    }
   }
   @media screen and (max-width:770px) {
    .carousel-item h5{
        font-size: 1.8rem;
       }
       .carousel-item p{
        font-size: 1.2rem;
       }
   }
   @media screen and (max-width:480px) {
    .carousel-item h5{
        font-size: 1.5rem;
       }
       .carousel-item p{
        font-size: 1rem;
       }
   }
   @media screen and (max-width:800px) {
    .staff{
        flex-direction: column;
    }
    .hero-perfil{
        width: 180px;
        height: 180px;
       }
    .hero-perfil:hover{
        width: 180px;
        height: 180px;
        border: 6px solid black;
    }
    .hero-principal h1{
        font-size: 2.3rem;
    }
    .hero-principal h2{
        font-size: 1.5rem;
    }
   }
   @media screen and (max-width:500px) {
    .encabeza h1{
        font-size: 1.8rem;
       }
    .staff{
        flex-direction: column;
    }
    .hero-perfil{
        width: 140px;
        height: 140px;
       }
    .hero-principal h1{
        font-size: 2rem;
    }
    .hero-principal h2{
        font-size: 1.2rem;
    }
   }
   @media screen and (max-width:900px) {
    .cursos{
        flex-direction: column;
    }
    .foto{
        width: 350px;
        height: 200px;
    }
    .taller iframe{
        width: 350px;
        height: 200px;
       }
    .taller h3{
        font-size: 1.5rem;
    }
    }